<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
    <style>
        .layui-form-select dl { max-height:300px; }
    </style>
</head>
<body>
<div class="layui-form" lay-filter="classes-edit-form" id="classes-edit-form" style="padding: 20px 30px 0 0;">
    <input type="hidden" name="id" th:value="${classes.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">所属院系</label>
        <div class="layui-input-block">
            <select id="facultyId" name="facultyId" lay-filter="facultyId">
                <option value="">请先择院系</option>
                <th:block th:each="item:${faculties}">
                    <option th:value="${item.id}" th:selected="${item.id == classes.facultyId}" th:text="${item.name}"></option>
                </th:block>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属专业</label>
        <div class="layui-input-block">
            <select id="specialtyId" name="specialtyId" lay-filter="specialtyId">
                <option value="">请先择专业</option>
                <th:block th:each="item:${specialties}">
                    <option th:value="${item.id}" th:selected="${item.id == classes.specialtyId}" th:text="${item.name}"></option>
                </th:block>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">级</label>
        <div class="layui-input-block">
            <input class="layui-input" type="text" th:value="${classes.year}" name="year" lay-verify="required" autocomplete="off"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班级名称</label>
        <div class="layui-input-block">
            <input class="layui-input" type="text" th:value="${classes.name}" name="name" lay-verify="required" autocomplete="off"/>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <button class="layui-btn" lay-submit lay-filter="classes-edit-submit" id="classes-edit-submit">提交</button>
    </div>
</div>
<script th:src="@{/layuiadmin/layui/layui.js}"></script>
<script>
    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','info/studentedit']);
</script>
</body>
</html>