<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
  <meta charset="UTF-8">
  <title>设置我的资料</title>
  <meta charset="utf-8">
  <title></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
</head>
<body>
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>设置</cite></a>
    <a><cite>我的资料</cite></a>
  </div>
</div>
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">设置我的资料</div>
        <div class="layui-card-body" pad15>
          <div class="layui-form" lay-filter="">
<!--            <div class="layui-form-item">-->
<!--              <label class="layui-form-label">我的角色</label>-->
<!--              <div class="layui-input-inline">-->
<!--                <select lay-verify="">-->
<!--                  <option value="1" selected>超级管理员</option>-->
<!--                </select> -->
<!--              </div>-->
<!--              <div class="layui-form-mid layui-word-aux">当前角色不可更改为其它角色</div>-->
<!--            </div>-->
            <div class="layui-form-item">
              <label class="layui-form-label">用户名</label>
              <div class="layui-input-inline">
                <input type="text" name="username" th:value="${user.username}" readonly class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">不可修改。后台登录账号</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">姓名</label>
              <div class="layui-input-inline">
                <input type="text" name="name" th:value="${user.name}" readonly lay-verify="nickname" autocomplete="off" placeholder="请输入昵称" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">暂时不支持修改</div>
            </div>
<!--            <div class="layui-form-item">-->
<!--              <label class="layui-form-label">头像</label>-->
<!--              <div class="layui-input-inline">-->
<!--                <input name="avatar" lay-verify="required" id="LAY_avatarSrc" placeholder="图片地址" value="http://cdn.layui.com/avatar/168.jpg" class="layui-input">-->
<!--              </div>-->
<!--              <div class="layui-input-inline layui-btn-container" style="width: auto;">-->
<!--                <button type="button" class="layui-btn layui-btn-primary" id="LAY_avatarUpload">-->
<!--                  <i class="layui-icon">&#xe67c;</i>上传图片-->
<!--                </button>-->
<!--                <button class="layui-btn layui-btn-primary" layadmin-event="avartatPreview">查看图片</button >-->
<!--              </div>-->
<!--           </div>-->
            <div class="layui-form-item">
              <label class="layui-form-label">手机</label>
              <div class="layui-input-inline">
                <input type="text" name="mobile" th:value="${user.mobile}" lay-verify="phone" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="setmyinfo">确认修改</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script th:src="@{/plugins/jquery/jquery-3.1.0.min.js}"></script>
<script th:src="@{/layuiadmin/layui/layui.js}"></script>
<script>
layui.use('/layuiadmin/modules/set', layui.factory('/layuiadmin/modules/set'));
</script>